#profilePic {
  max-height: 300px;
}
.fs-48 {
  font-size: 48px;
}
.fs-24 {
  font-size: 24px;
}
.gap-64 {
  gap: 64px;
}
.grid-about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
}
.grid-item{
    border: 1px solid rgba(218, 197, 167, .15);
    padding: 16px;
}
.about-second h3{
    font-size: 48px;
    line-height: 130%;
}
.about-second p{
    font-size: 16px;
}
.social a::after{
    content: "→";
}
@media (max-width: 767px)   {
  .spline {
    width: 50% !important;
    padding-top: 63.33% !important; /* 4/3 of the width to maintain a 3:4 ratio */
  }
  .gap-5{
    gap: 0.5rem !important;
  }
  .row-loader{
    max-height: fit-content !important;
  }
  .spline-container{
    max-height: fit-content !important;
  }
}