
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-img {
  background-color: aquamarine;
  border-radius: 50%;
  object-fit: contain;
  transition: all 0.3s ease;
}

.spline{
  height: auto !important;
}

/* animations */
.name {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation-delay: calc(var(--delay) * 0.3s);
}
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

