html {
  scroll-snap-type: y mandatory !important;
  scroll-behavior: smooth !important;
  overflow: hidden !important;
}
a{
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-content {
  padding-top: 56px;
  scroll-snap-align: start !important;
  min-height: 100vh !important;
  color: white;
}
.centered{
  display: flex;
  justify-content: center;
  align-items: center;
}
.columned{
  display: flex;
  flex-direction: column;
}
.about-img img{
  object-fit: cover !important;
}
.img-links{
  max-width: 25px !important;
  min-height: 25px !important;
}
.ant {
  background: linear-gradient(270deg, rgba(8,131,149,1) 0%, rgba(7,25,82,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* For compatibility with other browsers */
  color: transparent;    /* Fallback color */
  font-size: clamp(8vw, 78px, 110px);
  line-height: 112px;
  letter-spacing: -4px;
  font-weight: 800;
}

.nextpage{
  animation: moveleft 0.5s alternate infinite both;
}
@keyframes moveleft {
  0%{

  }
  100%{
    transform: translateX(10px);
  }
}
.spline {
  position: relative;
  width: 100%;
  /* The padding-top percentage is based on the aspect ratio */
  padding-top: 133.33%; /* 4/3 of the width to maintain a 3:4 ratio */
}
.spline canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100% !important;
  height: 100% !important;
}




main {
  -webkit-animation: color-change-3x 4s linear infinite alternate both;
  animation: color-change-3x 4s linear infinite alternate both;
}
@-webkit-keyframes color-change-3x {
  0% {
    background: #0c0c0c;
  }
  50% {
    background: #222831;
  }
  100% {
    background: #31363f;
  }
}
@keyframes color-change-3x {
  0% {
    background: #0c0c0c;
  }
  50% {
    background: #222831;
  }
  100% {
    background: #31363f;
  }
}
.ç {
  min-height: 100vh !important;
  color: white;
  background: transparent !important;
}
.animate {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-evenly !important;
}
.animate > *:nth-child(1) {
  --delay: 0.5;
}
.animate > *:nth-child(2) {
  --delay: 1;
}
.animate > *:nth-child(3) {
  --delay: 1.5;
}
.animate > * {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation-delay: calc(var(--delay) * 0.3s);
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@media (max-width: 768px)   {
  .spline {
    padding-top: 163.33%; /* 4/3 of the width to maintain a 3:4 ratio */
  }
}